* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    background-image: url("https://3.bp.blogspot.com/-L9Grjtk2M3Q/XAEVzfStGfI/AAAAAAAATtw/U_DB6QdAPPQSrZAKOZHnCAh4GCr7LCfNwCLcBGAs/s1600/12995220345_a2b6f1d401_b.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color:black;
    color :white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.temples {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.temple-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.temple-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.temple-item img {
    width: 100%;
    height: auto;
}

.temple-item h3 {
    padding: 10px;
    font-size: 1.5rem;
}

.temple-item p {
    padding: 0 10px 20px;
    font-size: 1rem;
}
.footer{
    position: relative;
    bottom: 0;
    width:100%;
    padding:20px 0;
    background-color:black;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color:aliceblue;
}
.footer .social a{
    font-size:32px;
    color :blue;
    border:2px solid papayawhip;
    width: 42x;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    margin:0 8px;
   transition: 0.3s ease;
   box-shadow: input 0 0 10px yellowgreen,0 0 10px yellowgreen;
}
.footer .social a:hover{
    transform:scale(1.2)translateY(-9px);
    color:yellowgreen;
    border: 2px solid yellowgreen;
    
}
.footer ul{
    margin-top: 0;
    padding-left: 0;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
    
}
.footer ul li a{
    color:gold;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.footer ul li{
    display: inline-block;
    padding:0 15px;
}
.footer .copyright{
color:gold;
margin-top: 10px;
text-align: center;
font-size: 15px;
}


